ConnectFourClient/ConnectFourClient/Service References/ConnectFourService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConnectFourServer/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConnectFourServer" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConnectFourServer/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestForGameToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opponentUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestForGameToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendRequestForGameToUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMyTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMyTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMyTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConnectFourServer" minOccurs="0" name="InsertResult" nillable="true" type="q1:InsertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsersToList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newUser" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeUsersFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connclients" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGameRequestToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGameRequestToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendGameRequestToUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="col" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConnectFourServer" minOccurs="0" name="move_result" type="q3:MOVE_RESULT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>