ConnectFourClient/ConnectFourClient/Service References/ConnectFourService/item52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConnectFourDBCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConnectFourDBCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayersDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayersDetails" nillable="true" type="tns:PlayersDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayersDetails" nillable="true" type="tns:ArrayOfPlayersDetails" />
  <xs:complexType name="PlayersDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="numOfGames" type="xs:int" />
      <xs:element minOccurs="0" name="numOfLoses" type="xs:int" />
      <xs:element minOccurs="0" name="numOfPoints" type="xs:int" />
      <xs:element minOccurs="0" name="numOfWins" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="tns:USER_STATUS" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayersDetails" nillable="true" type="tns:PlayersDetails" />
  <xs:simpleType name="USER_STATUS">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OTHER" />
      <xs:enumeration value="PLAYING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="USER_STATUS" nillable="true" type="tns:USER_STATUS" />
  <xs:complexType name="ArrayOfGameDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDetails" nillable="true" type="tns:GameDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDetails" nillable="true" type="tns:ArrayOfGameDetails" />
  <xs:complexType name="GameDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Player1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDetails" nillable="true" type="tns:GameDetails" />
</xs:schema>