ConnectFourClient/ConnectFourClient/Service References/ConnectFourService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConnectFourServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConnectFourServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExistsFault" nillable="true" type="tns:UserExistsFault" />
  <xs:complexType name="UserAlreadyLoggedInFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAlreadyLoggedInFault" nillable="true" type="tns:UserAlreadyLoggedInFault" />
  <xs:complexType name="UserNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNotFoundFault" nillable="true" type="tns:UserNotFoundFault" />
  <xs:complexType name="ArrayOfPlayingGames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayingGames" nillable="true" type="tns:PlayingGames" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayingGames" nillable="true" type="tns:ArrayOfPlayingGames" />
  <xs:complexType name="PlayingGames">
    <xs:sequence>
      <xs:element minOccurs="0" name="player1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="player2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayingGames" nillable="true" type="tns:PlayingGames" />
  <xs:complexType name="InitGameResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Player1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InitGameResult" nillable="true" type="tns:InitGameResult" />
  <xs:complexType name="InsertResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Move_result" type="tns:MOVE_RESULT" />
      <xs:element minOccurs="0" name="Row_index" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertResult" nillable="true" type="tns:InsertResult" />
  <xs:simpleType name="MOVE_RESULT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Win" />
      <xs:enumeration value="Draw" />
      <xs:enumeration value="Nothing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MOVE_RESULT" nillable="true" type="tns:MOVE_RESULT" />
</xs:schema>